#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.box{
  height: 50px;
  width: 400px;

  display: flex;
  justify-content: center;
  justify-content: space-around;

}








.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
